<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-snpasswordreset-kamal20220921143916.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/83513358-f5ce-4dd5-9795-33dc3401108f/resourcegroups/RG-3PCH-POC/providers/Microsoft.Web/sites/func-snpasswordreset-kamal20220921143916</ResourceId>
    <UserName>$func-snpasswordreset-kamal20220921143916</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-snpasswordreset-kamal20220921143916.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>